html {
  background: url(img/greemcheckerbackground.jpg);
}

body {
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 700px;
  padding: 30px 30px;
  text-align: center;
  border: 5px solid rgb(30, 71, 0);
  border-radius: 20px;
  font-family: "Merienda", cursive;
}

#header {
  padding-bottom: 40px;
  font-family: "Sofadi One", system-ui;
}

.formula-sheet {
  color: rgb(144, 177, 0);
}

h1 {
  font-size: 50px;
  color: rgb(42, 51, 0);
  font-variant: small-caps;
}

ul {
  text-align: left;
  font-size: larger;
  color: rgb(71, 87, 0);
}

td > p {
  font-size: 16px;
  font-variant: small-caps;
  font-family: "Sofadi One", system-ui;
}

th {
  font-family: "Sofadi One", system-ui;
  font-variant: small-caps;
  font-size: 30px;
  color: rgb(42, 51, 0);
  background-color: rgb(244, 255, 184);
}

img {
  width: 200px;
  height: 200px;
  opacity: 1;
  transition: opacity 0.5s;
}

img:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 5px 10px;
}

input {
  width: 30px;
}

#answer {
  width: 80px;
}

button {
  font-family: "Merienda", cursive;
  font-size: 15px;
  background-color: white;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(244, 255, 184);

  transition: background 0.7s;
}
